
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    position: relative;
    text-align: center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-align: center;
}
img{
    border-radius: 100px;
}
body{
    background-color: #F5F5DC;
}
.alinhamento{
    text-align: center;
}
.caixa {
    border: 3px solid #01013b; /* Borda de 2 pixels sólidos em preto */
    width: 400px; /* largura da caixa */
    height: 560px;
    margin: 20px auto;
}
.caixa2 {
    border-top: 2px solid #01013b; /* Borda de 2 pixels sólidos em preto */
    border-bottom: 2px solid #01013b;
    width: 400px; /* largura da caixa */
    height: 55px;
    margin: 20px auto;
}